header {
  background-color: #0B486B;
  padding: 2% 2% 1% 2%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

header canvas#logocanvas {
  width: 250px;
  height: 70px;
  color: #fff;
}