%h1 Works#index
%p Here are all of the works:

%table 
  %thead 
    %tr 
      %th View
      %th User
      %th Project
      %th Date/Time
      %th Hours
  %tbody 
    = render partial: "work", collection: @works

- content_for :aside do
  = render "sidebar"
      