%h1 Projects#index
%p Here are all of the projects:

%table
  %thead 
    %tr 
      %th 
        Project
      %th
        Company
  %tbody 
    - @projects.each do |project|
      %tr 
        %td= link_to project, project
        %td= link_to project.company, project.company

