%h1 Projects#index
%p Here are all of the projects:

%table
  %thead 
    %tr 
      %th 
        Project
      %th
        Company
  %tbody 
    = render partial: "project", collection: @projects

- content_for :aside do
  = render "sidebar"