%h1 Companies: index
%p Here are all of the companies:

%table 
  %thead 
    %tr 
      %th Company
  %tbody 
    = render partial: "company", collection: @companies
    

- content_for :aside do
  = render "sidebar"