%h1= @company.name

= link_to "Edit company", edit_company_path(@company)

%table
  %thead 
    %tr 
      %th 
        Project
      %th
        Company
  %tbody 
    = render partial: "projects/project", collection: @company.projects

- content_for :aside do
  = render "sidebar"
